@font-face {
    font-family: "Cursed Timer ULiL";
    src: url('Fonts/CursedTimer.ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #1AB2E8;
}


.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

h3 {
    font-family: Verdana;
    color: #C8EFCC;
    font-weight: bold;
    font-size: 40;
    margin-top: 68px;

}

.homeboard,
.guestboard {
    background-color: #080001;
    margin: 1.25em auto;
    width: 155px;
    height: 120px;
    border-radius: 5px;
}

h2,
button {
    font-family: "Cursed Timer ULiL", sans-serif;
    margin: 5px 11px;
}


#guestscore,
#homescore {
    color: #D2B6F5;
    font-size: 90;
}

.button-style {
    background-color: transparent;
    border: 2px solid #240948;
    border-radius: 5px;
    padding: 1px;
    color: #240948;
    font-weight: lighter;
    font-size: 18;
}